<mat-card class="cartao texto invert">
       
    <label> ELETROQUÍMICA </label>

</mat-card>

<div id="caixa" class="mat-elevation-z9">
                <h1 class="intro">1.INTRODUÇÃO</h1>
     
        <p> &nbsp; A Eletroquímica <mark> estuda a relação entre a eletricidade e as reações químicas que 
            ocorrem com transferência de elétrons.</mark>
            Essa área de estudos divide-se em dois ramos principais: <br>
            
            <b> 1- O estudo das pilhas e baterias: </b> Nesse caso, a energia química é convertida em energia elétrica, 
            ou seja, nesses dispositivos, são colocadas espécies químicas para reagirem espontaneamente, 
            havendo transferência de elétrons entre elas. Uma espécie sofre redução, e a outra, oxidação. 
            Essa transferência de elétrons é aproveitada para gerar corrente elétrica, que faz alguns 
            equipamentos elétricos funcionarem. <br>
            
            <b> 2- O estudo da eletrólise: </b> Esse é um processo inverso ao que ocorre nas pilhas e baterias, ou seja, a 
            energia elétrica é transformada em energia química de uma forma não espontânea. Isso é feito quando se 
            passa corrente elétrica por um sistema líquido que possui íons dissolvidos, produzindo reações de 
            oxirredução.
            Existem dois tipos de eletrólise, a eletrólise ígnea e a eletrólise aquosa. Ambas são muito 
            utilizadas em nossa sociedade, como é o caso das substâncias simples que não são encontradas na 
            natureza. </p>
          
</div>

