<mat-toolbar class="footer invert">

    <span class="codedced">
        <H2> 
            <pre> CODED/CED </pre>
        </H2>
    </span>

    <span class="coordenadoria">
        <pre> 
            COORDENADORIA ESTADUAL DE FORMAÇÃO DOCENTE E EDUCAÇÃO A DISTÂNCIA - CODED/CED
            Rua Dona Iolanda P. C. Barreto, 317 - Jocely Dantas - Sobral, CE - CEP: 62.042-270
        </pre> 
    </span>
    <br>
    <ul class="facebook">
        <a href="https://www.facebook.com/cedceara/" target="blank">
            <img  src="assets/img/facebook.png">
        </a>
    </ul>

    <ul class="instagram">
        <a href="https://www.instagram.com/cedceara/" target="_blank">
            <img src="assets/img/instagram.png">
        </a>
    </ul>

    <ul class="youtube">
        <a href="https://www.youtube.com/cedceara" target="blank">
            <img src="assets/img/youtube.png">
        </a>
    </ul>

</mat-toolbar>
