<mat-toolbar class = "menu invert icones mat-elevation-z5"> 



    <a href="assets/lorem.pdf" download="lorem.pdf" mat-icon-button color="basic" class=" teste" title="Baixar Arquivo"> <mat-icon> 
      download
      </mat-icon> 
    </a>
   
     <button (click)="setFontSize('a+')" mat-icon-button color="basic" class=" teste" title="Aumentar texto"> <mat-icon>
        zoom_in 
      </mat-icon> 
     </button> 

     <button (click)="setFontSize('a')" mat-icon-button color="basic" class=" teste" title="Tamanho padrão"> <mat-icon> hdr_auto </mat-icon> </button>
   
     <button (click)="setFontSize('a-')" mat-icon-button color="basic" class=" teste" title="Diminuir texto"> <mat-icon>
        zoom_out
      </mat-icon> 
     </button> 
   
     <button (click)="setDarkTheme('night')" mat-icon-button color="basic" class=" teste" title="Constraste"> <mat-icon> 
        flaky
      </mat-icon> 
     </button> 

   
    
</mat-toolbar>

    

