<mat-card class="cartao texto invert">
       
    <label> QUÍMICA INORGÂNICA </label>

</mat-card>

<div id="caixa" class="mat-elevation-z9">
                <h1 class="intro">1.INTRODUÇÃO</h1>
     
        <p> &nbsp; A primeira vez que os seres humanos utilizaram compostos orgânicos foi com a 
            descoberta do fogo, uma vez que praticamente tudo o que sofre combustão é um composto orgânico.
            Substâncias orgânicas têm sido usadas desde a Antiguidade. Ainda na Pré-História, o álcool etílico 
            era obtido a partir da reação de fermentação do suco de uva, e o vinagre era obtido a partir da 
            oxidação do vinho. <mark> O termo Química Orgânica foi empregado pela primeira vez em 1777 pelo químico 
            sueco Torbern Olof Bergman. Segundo Bergman, os compostos orgânicos incluem substâncias de 
            organismos vivos, enquanto que os compostos inorgânicos incluem substâncias do reino mineral. </mark>
            No final do século XVIII e início do século XIX acreditava-se na teoria da força vital formulada 
            por Jöns Jacob Berzelius, que dizia que os compostos orgânicos só poderiam ser produzidos por 
            organismos vivos (animais e vegetais). Após diversas tentativas, em 1828, Friedrich Wöhler 
            conseguiu obter a ureia, substância encontrada na urina e no sangue. Para isso, ele aqueceu 
            cianato de amônio, que é um composto inorgânico. Isso acabou com a teoria da força vital. </p>
          
</div>

