<mat-card class="cartao texto">
       
    <label> CÁLCULO ESTEQUIOMÉTRICO</label>

</mat-card>

<div id="caixa" class="mat-elevation-z9">
                <h1 class="intro">1.INTRODUÇÃO</h1>
     
        <p class="paragrafo"> &nbsp; Na Química, assim como em muitos ramos de nossa sociedade, os cálculos estão 
            muito presentes. Principalmente no que diz respeito aos <mark> cálculos estequiométricos, que são 
            cálculos das quantidades de reagentes e/ou produtos de uma reação química</mark>. Por exemplo, 
            nas indústrias químicas, é necessário descobrir quanto de reagente será necessário utilizar para que 
            determinada reação apresente o rendimento desejado. 
            Esses cálculos são feitos com base nas leis das reações e na teoria atômica molecular, além de 
            serem executados com a ajuda das proporções mostradas nas equações químicas.
            Por exemplo, em geral, quando vamos resolver algum exercício de estequiometria, é necessário 
            primeiro sabermos escrever a equação química balanceada que representa a reação em questão. 
            Posteriormente, analisamos as proporções estequiométricas dadas pela equação e, por último, usamos 
            regras de três que relacionam as substâncias envolvidas. Essas relações que iremos fazer se baseiam 
            nas Leis Ponderais, que são duas: a Lei das Proporções Constantes de Proust e a Lei da Conservação
            da Massa de Lavoisier.</p>
          
</div>

