<mat-card class="cartao texto">
       
    <label>CURSO DE QUÍMICA</label>
   
</mat-card>

<div id="caixa" class="mat-elevation-z9">
    <figure class="foto-legenda">
        <img class="mat-elevation-z9 invert" id="banner" src="assets/img/banner_quimica.jpeg">
    <figcaption>

        <p> &nbsp; O Curso tem o objetivo de desenvolver habilidades relacionadas às práticas de laboratório, bem como servir de subsídio para a/o aluno que pretende fazer o Enem. As/Os cursistas terão a oportunidade de explorar os conceitos de Química e relacioná-los com o cotidiano, analisando e reconhecendo o impacto, o potencial e a complexidade da sua inserção na sociedade moderna.

            A avaliação será realizada em função do acesso e da participação nas atividades propostas (leitura dos textos, acesso aos vídeos e realização dos questionários). Será considerada/o aprovada/o aquela/e que realizar, de maneira satisfatória, todas as atividades propostas, com, no mínimo, 70% de aproveitamento.</p>
          
    </figcaption>
</figure>
</div>


 